header{
   background-color: #c2c2c2;
}
 
h1{
	text-align: center;
	color: #ffffff;
}

h2{
	color: #272782;
}

section{
	background-color: #707070;
}

img{
	display: none;
}

a{
    background-color:#827d7d
}
a{
  color: #000000
}