header{
   background-color: #c99400;
   background-image: url("../images/flywheel.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   padding: 20px;
}

 .active{
 	color:#0276b0;
 	background-color: #ffffff;
 }

nav a{
	text-decoration: none;

	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;

	padding: 20px 50px;
	margin: 5px;
	display: inline-block;
	background-color: rgba(189, 189, 189,0.5);
    margin-right: 25px;
    font-size: 110%;
    color: #000000;
    width: 175px;
    text-align: center;
}

a{
  color: #0276b0;
}

body{
	padding: 10px; 
	margin: 1%;
}

h1{
	text-align: center;
	color: #ffffff;
	font-weight: bold; 
	text-transform: uppercase;
}

.right{
	font-family: sans-serif;
	float: top;
	font-weight: bold;
	padding-left: 2%;
}

h2{
	color: #000000;
	font-weight: bolder;
}

main{
	display: inline;
}

img{
	display: block;
	width: 80%;
	border: 2px solid;
	border-color: #000000;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

}

aside{
	background-color: #727800;
	float: left;
	background-position: center;
	display: inline;
	width: 200px;
	height:550px;
    
}

table{
	border-radius: 2px 0px;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	font-weight: bold;
	line-height: 20px;	
}

table tr{
	opacity: 0.6;
}
th{
	padding:10px;
	color: #ffffff;
	background: linear-gradient(0deg, #0048bd 0%, #cccccc 100%);
	border: 3px solid;
	border-color: #a8c200;
	border-radius: 9px 9px 0 0;
}

tr {
    margin: 12px;
}

td{
	color:#000000;
	background-color: #bababa;
    padding: 10px;
 }


tr th:first-child, tr td:first-child {
	text-align: left;
}

table tr:hover
{
    opacity: 1;
}


